rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Esta versión no utiliza inicio de sesión.
    // Cualquier persona con el enlace puede consultar y modificar los datos.

    match /commercial_users/{document=**} {
      allow read, write: if false;
    }

    match /commercial_settings/{document=**} {
      allow read, write: if true;
    }

    match /commercial_advisors/{document=**} {
      allow read, write: if true;
    }

    match /commercial_activity_reports/{document=**} {
      allow read, write: if true;
    }
  }
}
